.countdown-section{

background:
linear-gradient(
180deg,
#08131d,
#050b10
);

}

.countdown-container{

padding:60px;

width:min(1000px,90%);

text-align:center;

}

.countdown-container h2{

font-size:3rem;

margin-bottom:40px;

}

.countdown-grid{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(150px,1fr));

gap:25px;

}

.time-box{

padding:40px 20px;

border-radius:20px;

background:
rgba(255,255,255,.04);

}

.time-box span{

font-size:4rem;

display:block;

font-weight:700;

color:var(--primary);

}

.time-box small{

font-size:1rem;

opacity:.7;

}